<!doctype html>
<html ng-app="example">
<head>
  <script src="angular.min.js"></script>
    <script src="underscore.min.js"></script>
    <script src="ngStorage.min.js"></script>
  <script src="todo.js"></script>
  <link rel="stylesheet" href="todo.css">
</head>
<body>
  <div ng-controller="ExampleController">
    <h3>To Do</h3>
    <div>
     <input type="text" ng-model="newTask" ng-model-instant>
     <button class="btn" ng-click="addTask()">Add</button>
   </div>
   <ul class="unstyled">
    <li ng-repeat="todo in todoList">
      <input type="checkbox" ng-change="changeCheckbox()" ng-model="todo.done">
      <span class="done-{{todo.done}}" > {{todo.text}}</span>
    </li>
  </ul>
  <div>
    <span></span>
    <button class="btn" ng-click="clearCompleted()">Clear Completed </button>
  </div>
</div>
</body>
</html>